:root {
  /* --main-color: #88292f; */
  --main-color: #af2e37;
}
.user-form,
.user-form {
  margin-top: 40px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-form-input {
  height: 30px;
  border-bottom: 1px solid black;
  margin-top: 5px;
  width: 50%;
}
.user-form-button {
  margin: 10px;
  border: none;
  background-color: var(--main-color);
  padding: 10px 30px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 7px;
}
